.parent{
    display: flex;
    gap: 50px;
    height: 150px;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
     /* justify-content: flex-end; */
     /* justify-content: flex-start; */
     /* justify-content: space-around; */
     /* justify-content: space-between; */
     justify-content: space-evenly;

}

h1{
    color: #922424;
    border: 2px solid blueviolet;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}